[core]
	editor = vim
[user]
	name = Jusong Yu
	email = jusong.d.yu@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
