* {
  font-family: "Hack Nerd Font", sans-serif;
  font-size: 12px;
  color: #8b92a6;
}

window#waybar {
  background-color: #1e1e2e;
  border-bottom: 1px solid #313244;
}

#workspaces button {
  padding: 0 10px;
  color: #cdd6f4;
  background: transparent;
}

#workspaces button.focused {
  background-color: #3a5a96;
  color: #15151c;
}

#memory, #cpu, #clock, #battery, #network, #pulseaudio {
  padding: 0 10px;
}

#tray {
  padding: 0 10px;
}

